.technologyIcons{
    margin: auto;
    padding: 10px;
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, 1fr);
}

.technologyIcons span img {
    width: 40%;
    height: auto;
    margin: 10px;
    justify-self: center;
    transition: 0.3s;
    box-shadow: 0px 30px 8px rgba(0, 0, 0, 0.1); 
}